#
# Samsung Exynos 7885 - Kernel Configuration Fragment.
#
# Location: arch/arm64/configs/exynos7885.config
# To generate the full config, run:
#     make defconfig exynos7870.config exynos7885.config
#
CONFIG_LOCALVERSION="-exynos7885"

CONFIG_TOUCHSCREEN_S6SY761=m
# CONFIG_MFD_SEC_CORE is not set
CONFIG_MFD_S2MPU08=m
# CONFIG_REGULATOR_S2MPS11 is not set
CONFIG_REGULATOR_S2MPU08=m
CONFIG_EXYNOS_MBOX=y
CONFIG_EXYNOS_ACPM_PROTOCOL=m
